/* Add padding and adjust button styles */
button {
  padding: 0.8em 1.5em;
  font-size: 1em;
  border: none;
  background-color: #a9d39e; /* Button background color */
  color: #ffffff; /* Button text color */
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #444; /* Button hover background color */
}
