@font-face {
  font-family: 'CrimsonPro';
  src: url('../assets/fonts/CrimsonPro-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Assuming variable weight range, adjust as needed */
}

body {
  font-family: 'CrimsonPro', Arial, sans-serif;
}
