/* fonts.css */

/* Import RainbowSans */
@font-face {
    font-family: 'Rainbowsans';
    src: url('../assets/RainbowSans-9Y00K.otf') format('opentype');
    font-weight: normal;
}

/* Import RainbowSans Bold */
@font-face {
    font-family: 'RainbowsansBold';
    src: url('../assets/RainbowSansBold-lgEEd.otf') format('opentype');
    font-weight: bold;
}

/* Import RainbowSans Color */
@font-face {
    font-family: 'RainbowsansColor';
    src: url('../assets/RainbowSansColor-nREEg.otf') format('opentype');
    font-weight: normal;
}

/* Apply RainbowsansColor as the default font */
body {
    font-family: 'RainbowsansColor', Arial, sans-serif;
}

h1, p, div, button, input, textarea {
    font-family: 'RainbowsansColor', Arial, sans-serif; /* Inherit RainbowsansColor */
}
